$primary-color: #00A6C9;
$nav-menu-color: #222222;
$default-text-color: #666666;
$border-color: #CCCCCC;
$border-radius: 2px;
$page-header-bg-color: $primary-color;
$preloader-color: $primary-color;

$mobile-screen-width: 768px;
$desktop-screen-width: 992px;

$button-border-radius: $border-radius;
$button-font-size: 16px;
$button-padding: 12px;
$button-height: 48px;

$page-header-filter-color: #353a41;